@import 'partials/normalize.css';
@import 'partials/base.css';
@import 'partials/layout.css';
@import 'partials/buttons.css';
@import 'partials/header.css';
@import 'partials/contacts.css';
@import 'partials/hero.css';
@import 'partials/content.css';
@import 'partials/privacy.css';
@import 'partials/impressum.css';
@import 'partials/footer.css';
@import 'partials/icons.css';



