.drinks--background {
  background: url('../images/photos/onebeer.jpg') no-repeat center / cover;
  margin-top: var(--header-height);
  height: calc(100vh - var(--header-height));
  overflow:   auto;
  width:      100%;
  
}


  .drinks--wrapper {
    width:           90%;
    display:         flex;
    flex-flow:       column nowrap;
    justify-content: flex-start;
    align-items:     center;
    gap:             2rem;
    padding:         5% 10% 5% 10%;
  }

/*
* 1) Brown separator under the table header
* 2) Making sure all names start with capital letter followed by lowercase
* 3) Creating gap between the table header and the table items, 
*    and occasionally between the drinks name and price
*/

.table--container {
  background-color:  rgba(var(--secondary-color-rgb), .9);
  border-radius:     2px;
  padding:           1rem;
  width:             max(40%, 468px);
}

 


  .table {
    color:           rgba(var(--brand-color-rgb), 1);
    table-layout:    auto;
    width:           100%;
    height:          auto;
    opacity:         1;
    border-collapse: collapse; /* 1 */
    border-spacing:  0;
   
  }

  .table__margin-bottom {
    margin-bottom: 1.5rem;
  }

    .table--title {
      width:          100%;
      text-transform: uppercase;
      font-weight:    bold;
      
    }
     
    .table--header {
      color:         rgba(var(--brand-color-rgb), 1);
      border-bottom: 1px solid rgba(var(--primary-color-rgb), 1); /* 1 */
      width:         auto;
      opacity:       1;
      
      
    }

      .table--header td:first-child {
        text-transform: uppercase;
      }

    
    .table--header::before { /*3*/
      content: '';
      display: block;
      width:   100%;
      height:  1.5rem;
    }

    .table--gap {  /*3*/
      height: .3rem;
      
    }


    
    .drinks--price {
      width: 21.776%;
      
    }
    

      /*.drinks--name {
        text-transform: lowercase; /*2
        
      }

      .drinks--name::first-letter {
        text-transform: uppercase; /*2
      }*/

      

/*MOBILE VERSION*/

@media (max-width: 500px) {
  .drinks--wrapper {
    width:   100%;
    padding: 1rem .5rem 1rem .5rem;
    
  }
  .table--container {
    width:  100%;
    
  } 
  
  .drinks--price {
    white-space: nowrap;
    height: 25px;
    padding-left: 5px;
  }
  
}

@media (max-width: 229px) {
  .drinks--wrapper {
    padding: 1rem 0 1rem 0;
    align-items: flex-start;
  }
  .table--container {
    padding-left:  5px;
    padding-right: 5px;
    width: auto;
    
    /*overflow-x:    auto;*/
  }  
}