/*--------------------------------*\
* LAYOUT 

*Container............overall layout of the page
*
*Main.................over layout of the content
*
\*--------------------------------*/


/*--------------------------------*\
* OVERALL LAYOUT OF THE PAGE
\*--------------------------------*/

.container {
    display:        flex;
    flex-flow:      column nowrap;
    min-height:     100vh;
    width:          100%;
    position:       relative;
}
  
  
  
  
  
  /*--------------------------------*\
  * CONTENT LAYOUT
  \*--------------------------------*/

  main {
    display:         flex;
    flex-flow:       column nowrap;      
    justify-content: flex-start;
    align-items:     center;
    flex-grow:       1;
    width:           100%;
    margin-top:      var(--header-height);
    
  }

  .section {
    display:         flex;
    flex-flow:       column nowrap;
    justify-content: flex-start;
    align-items:     center;
    width:           100%;
    gap:             2rem;
    padding:         1rem;
  }

  @media (min-width: 400px) {
    .section {
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  @media (min-width: 768px) {
    .section {
      padding-left:  10%;
      padding-right: 10%;
      gap:           3rem;
      padding-top:   3rem;
    }
  }

 
  

 